// http://paulirish.com/2012/box-sizing-border-box-ftw/
* { box-sizing: border-box; }

body {
    background-color: #fefefe;
    margin: 100px;
    font-family: Helvetica, sans;
    h1{
        text-transform: uppercase;
    }
}